services:

  rabbitmq:
    image: rabbitmq:4-management
    container_name: bitwarp-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - bitwarp-net
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  tracker:
    image: bitwarp-tracker
    networks:
      - bitwarp-net
    depends_on:
      rabbitmq:
        condition: service_healthy

  haproxy:
    image: haproxy:latest
    ports:
      - "9999:9999"
      - "8404:8404"
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    networks:
      - bitwarp-net
    depends_on:
      - tracker

  node:
    image: bitwarp-node
    volumes:
      - ./storage/warp:/root/storage/warp
    networks:
      - bitwarp-net
    depends_on:
      - haproxy
    command: [ "./node", "get", "storage/warp/kali-linux-2024.1-installer-amd64.iso.json" ]

  seeder:
    image: bitwarp-node
    volumes:
      - ./storage:/root/storage
    networks:
      - bitwarp-net
    depends_on:
      - haproxy
    command: [ "./node", "seed", "storage/warp/kali-linux-2024.1-installer-amd64.iso.json" ]

networks:
  bitwarp-net:
    driver: bridge
